    body {
      margin: 0;
      padding: 0;
      font-family: 'sans-serif';
      color: #fff;
      cursor: none;
      user-select: none;
      overflow-x: hidden;
      position: relative;
      height: 100vh;
      background-image: url('malard.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    
    .leftpfp {
    position: fixed;
    top: 10px;
    left: 10px;  
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1000;
    }
    .rightpfp {
    position: fixed;
    top: 10px;
    right: 10px;  
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1000;
    }

    h1 {
      background: #0a6a3a;
      padding: 20px;
      text-align: center;
      font-size: 2em;
      text-shadow: 1px 1px 0 #442b01;
      position: relative;
      z-index: 10;
    }


    main {
      padding: 40px;
      text-align: center;
      position: relative;
      z-index: 10;
    }

    a, button {
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      text-shadow: 1px 1px 0 #5a2d00;
    }

    a:hover, button:hover {
      color: #0a6a3a;
      text-shadow: 0 0 10px #0a6a3a;
    }

    #customCursor {
      position: fixed;
      top: 0;
      left: 0;
      font-size: 28px;
      pointer-events: none;
      z-index: 9999;
      transition: transform 0.05s ease;
    }


    @keyframes drop-fade {
      0% {
        opacity: 0;
        transform: translateY(0);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(20px);
      }
    }

    .blog-section {
      padding: 50px 20px;
    }

    .blog {
      max-width: 700px;
      margin: 20px auto;
      background: rgba(167, 139, 0, 0.1);
      border: 2px solid #0a6a3a;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
      backdrop-filter: blur(3px);
    }

    img {
      width: 100px;
      height: 100px;
    }

    .blog-card h3 {
      margin-top: 0;
      color: #fff;
    }

    .blog-card p {
      color: #ffffff;
      font-size: 1em;
    }
